/*clock section start*/


#clock, #hex{
									font:bold 30px "Trebuchet MS";
									text-shadow: 1px 1px 1px #aaa, -1px -1px 1px #667; /* FF3.5+, Opera 9+, Saf1+, Chrome */
									line-height:50px;
									text-transform:uppercase;
									margin:8px 0;
									-moz-opacity:.70; 
									filter:alpha(opacity=70); 
									opacity:.70;
		
}

/*clock section end*/